// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Share:400,700");

// Define fonts for body and headers
$body-font: "Open Sans", "sans-serif";
$headers-font: "Share", "sans-serif";


