body, html {
  overflow-x: hidden;
}


/*    * * * * * * * * * * *
      * THIS IS SECTION 1 *
      * * * * * * * * * * *    */



#section1 {
  background-image: url('https://res.cloudinary.com/tark-industries/image/upload/v1548345076/ballon.png');
  background-size: auto 700px;
  background-position: top center;
  background-repeat: no-repeat;
}

.slogan h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin: 0px;
  color: white;
  padding-left: 13vw;
  padding-top: 50px;
  padding-bottom: 40px;
}

.compteur-arbres {
  text-align: center;
  padding-top: 250px;
}

.compteur-arbres h2 {
  color: $green;
  padding-bottom: 10px;
}

.compteur-arbres img {
  width: 50px;
  padding-top: 20px;
}

.foret-fin-section1 img {
  width: 100%;
  margin-top: -10vh;
}




  /*  * * * * * * * * * * *
      * THIS IS SECTION 2 *
      * * * * * * * * * * *   */





#section2 {
  background-image: url('https://res.cloudinary.com/tark-industries/image/upload/v1548672355/bluesquare.png');
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 145vh;
}

.logo-vert img {
  display: block;
  width: 13%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.ccm h5 {
  text-align: center;
  padding-bottom: 50px
}

.ticket-dette img {
  width: 345px;
  float: right;
}

.def-dette {
  font-weight: 700;
  color: $green;
}

.explications1et2 img {
  width: 50px;
  margin-left: 60px;
  margin-right: 60px;
}

.explication1, .explication2 {
  width: 50%;
  padding-top: 50px;
}

.explication1 h5, .explication2 h5 {
  line-height: 24px;
  padding-bottom: 9px;
}

.explication2 {
  text-align: right;
}

/* BUTTON PART */

.section2-button {
  background-color: $green;
  padding: 8px 13px;
  color: white;
  border-radius: 3px;
  font-size: 16px;
}

.text-button {
  display: none;
  margin-top: 20px;
  width: 200%;
  background-color: white;
  box-shadow: 0px 2px 10px grey;
  padding: 4px 9px;
  font-family: "raleway", sans-serif;
  font-size: 13.5px;
  border-radius: 4px;
}

.text-button2 {
  text-align: left;
}

.section2-button2 {
  margin-left: -100%;
}

.section2-button:hover + .text-button {
  display: inline-block;
}

.square-but {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  margin-left: 20px;
  margin-top: -9px;
}

.sq1 {
  margin-left: 100px !important;
}

.sq2 {
  margin-left: 200px !important;
}

/* BUTTON PART */



  /*  * * * * * * * * * * *
      * THIS IS SECTION 3 *
      * * * * * * * * * * *   */



#section3 {
  background-image: url('https://res.cloudinary.com/tark-industries/image/upload/v1548764355/footer-treep-iconsss.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  color: white;
  position: relative;
}

.network {
  position: absolute;
  right: 20px;
  padding-top: 100px;
}

.network img {
  width: 50px;
  padding-bottom: 20px;
}

#section3 a {
  color: white;
}

#section3 .container {
  margin-left: 5vw !important;
}

.container-footer1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-footer2 img {
  width: 24px;
  height: 17px;
}

.container-footer2 {
  padding-bottom: 30px;
  padding-right: 20px;
}

#section3 .container-footer3 {
  margin-left: 15vw !important;
}

.text-footer p {
  text-align: center;
  font-size: 12px;
  padding: 0px 15%;
  margin-bottom: 0px;
}

  /*  * * * * * * * * * * *
      *  MEDIA   QUERIES  *
      * * * * * * * * * * *   */

@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #section2 {
    min-height: 75vh;
  }
  .container-footer1 {
    margin-top: -20px;
  }
  #section3 {
    min-height: 40vh;
  }
  .no-phone {
    display: none !important;
  }
  .compteur-arbres {
    padding-top: 250px;
    padding-bottom: 100px;
  }
}




.no-phone {
  display: none;
}

.no-tablet {
  display: none;
}



@media only screen and (max-width: 1250px) {
  .wider-text-button {
    width: 180% !important;
  }
}

@media only screen and (max-width: 988px) {
  #section-all {
    display: none;
  }
}

@media only screen and (max-width: 988px) {
  .no-tablet {
    display: inline-block;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .no-phone {
      display: inline-block;
    }

    .no-tablet {
      display: none;
    }
  }

@media only screen and (max-width: 788px) {
  .no-tablet {
    display: none;
  }

  .no-phone {
    display: inline-block;
  }
}























