.texte-lesarbres {
  padding-left: 13vw;
  padding-right: 9vw;
  padding-top: 45px;
}

  .lesarbres-text0 {
    text-align: center;
    padding: 10px 20px !important;
    color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    background: #00C896;
    border-radius: 8px;
  }

  .lsarbr-txt {
    padding-top: 20px;
  }














