.intro-objectifs {
  font-size: 25px;
  text-align: center;
  padding-top: 45px;
  padding-left: 2vw;
}


.carte-objectif {
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 50px;
}

  .carte-objectif img {
    width: 100%;
  }

  .carte-objectif h2 {
    text-align: center;
    font-size: 30px;
  }

  .carte-objectif p {
    padding-left: 1vw;
    padding-right: 1vw;
  }
