
.connection-compensation {
  
}

.flights__list {
  width: 850px;
  display: flex;
  flex-direction: column;
}

.flight__card__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flights__container {
  min-height: 70vh;
	display: flex;
}

.flights__options {
  margin: 30px;
  margin-top: 120px;
}

.flights__list {
  list-style: none;
  padding: 0px;
}

.flight__card {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.flight__schedule {
  display: flex;
}

.flight__days__added {
  font-size: 13px;
  padding-left: 2px;
}

.flight__duration__code {
  display: flex;
  flex-direction: column;
} p {
  margin: 0px;
}


.flight__card__div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.flight__card__div__info {
  height: 64px;
  font-size: 17px;
  width: 500px;
  display: flex;
  justify-content: space-between;

  .flight__card__info__depart, .flight__card__duree__trajet, .flight__card__info__arrivee  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flight__card__header {
  margin-bottom: 20px;
}

.straight {
  border-top: solid 1px grey;
}

.flight__card__duree__trajet {
  width: 100px;
  text-align: center;
  margin: 0px 25px;
}

.flight__card__info__depart {
  width: 170px;
  text-align: right;
}

.flight__card__depart__code__heure {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.heure {
  margin-left: 4px;
}


.flight__card__info__arrivee {
  width: 170px;
  text-align: left;
}

.flight__card__arrivee__code__heure {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.flight__card__checkout {
  width: 25%;
  background-color: #5CA9B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 10px;
}

.flight__info img {
  width: 120px;
}

.redirection__target {
  font-family: alegreya sans SC;
  font-weight: 500;
}

.checkout__button {
  background-color: #00C896;
  border-radius: 3px;
  font-size: 20px;
  border: none;
  color: white;
  padding: 10px 40px;
}

#details {
  border-top-left-radius: 0px;
}

.flight__price {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

button:focus { outline: none; }


.details__div {
  border-top: 0.5px solid #b3aeae;
  display: flex;
  justify-content: space-between;
}

.flight__card__link_target {
  padding-left: 0px;
}

.flight__presentation__container {
  height: 74%;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flight__card__nom__airport {

  display: flex;
  justify-content: flex-end;

  p {
    font-size: 15px;
    min-width: 80px;
    text-align: center;
  }
}




























