<div class="fly-way-style">
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
	<div class="fly-way-tube"></div>
  <div class="fly-way-tube"></div>
  <div class="fly-way-tube"></div>
  <div class="fly-way-tube"></div>
  <div class="fly-way-tube"></div>
  <div class="fly-way-tube"></div>
</div>

