 <div id="footer-skytreep">

    <div class="network">
      <a href="https://www.facebook.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766802/facebook-treep.png"></a> <br>
      <a href="https://www.instagram.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766811/insta-treep.png"></a> <br>
      <a href="https://twitter.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766819/tweeter-treep.png"></a> <br>
    </div>

    <div class="container-footer1">
      <div class="row">
        <div class="col-sm-3">
          <a href="#">Qui sommes nous ?</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Nos arbres</a>
        </div>
        <div class="col-sm-3">
          <a href="#">La dette écologique</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Presse</a>
        </div>
      </div>
      <div style="padding-top: 20px" class="row">
        <div class="col-sm">
          <a href="#">Comment fonctionne Skytree'p ?</a>
        </div>
        <div class="col-sm">
          <a href="#">Politique de confidentialité de cookies</a>
        </div>
        <div class="col-sm">
          <a href="#">Condition d'utilisation</a>
        </div>
      </div>
    </div>

    <div class="container-footer2">
      <div class="row">
        <div class="col-sm">
          <h5>Sites Internationaux</h5>
        </div>
      </div>
      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png">
          <a href="#">Espana - Vuelos</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/255px-Flag_of_the_People%27s_Republic_of_China.svg.png">
          <a href="#">中国 - 机票</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/2000px-Flag_of_Norway.svg.png">
          <a href="#">Billige Flybilletter</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
          <a href="#">UK - Flights</a>
        </div>
      </div>

      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png">
          <a href="#">Ireland - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png">
          <a href="#">Sverige - Flyg</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png">
          <a href="#">USA - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_Poland.svg/1280px-Flag_of_Poland.svg.png">
          <a href="#">Polska - Tanie loty</a>
        </div>
      </div>

      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png">
          <a href="#">France - Vols</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg">
          <a href="#">Italia - Voli</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1280px-Flag_of_Japan.svg.png">
          <a href="#">日本 - 航空券</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1280px-Flag_of_Germany.svg.png">
          <a href="#">Deutschland - Flüge</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_United_Arab_Emirates.svg">
          <a href="#">United Arab Emirates - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1200px-Flag_of_Australia_%28converted%29.svg.png">
          <a href="#">Australia - Cheap flights</a>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
      </div>
    </div>

    <div class="container-footer3">
      <div style="margin-left: -7%;" class="row">
        <div class="col-sm">
          <p>Confidentialité</p>
        </div>
        <div class="col-sm">
          <p>Conditions générales</p>
        </div>
        <div class="col-sm">
          <p>©Skytree'p 2019</p>
        </div>
      </div>
    </div>

    <div class="text-footer">
    <p>Trouvez votre voyage sur Skytreep.com, Comparez parmis des centaines de fournisseurs pour avoir les meilleurs prix et ce chaque jour. Trouvez des vols pas cher et écologique. Tous les billets internationaux sont disponibles, recherchez parmis les compagnies aériennes les plus prisées et les plus populaires. Skytree'p c’est la garantie de trouver le billet d’avion qu'il vous faut. N’attendez plus pour découvrir toute nos destinations. </p>
    </div>

  </div>
</div>
