<div class="choix3">
    <ul>

      <li class="allez-retour">
        <li><p>Allez-retour</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

      <li class="passager">
        <li><p>1 Passager</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

      <li class="classe">
        <li><p>Economy</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

    </ul>
  </div>

  <div class="border-form">
    <i class="fas fa-plane-departure"></i>
    <i class="fas fa-plane-arrival"></i>
    <div class="square1"></div>
    <div class="square2"></div>
    <form class="search">
      <input  type="text" class="search__field1" id="departLoc__search" placeholder="        Paris (PAR)" list="airports__depart">
      <input type="text" class="search__field2" id="returnLoc__search" placeholder="        À ? " list="airports__return">
      <input type="text" class="search__field3" id="departDate__search" placeholder="Date allez">
      <input type="text" class="search__field3" id="returnDate__search" placeholder="Date retour">
      <button class="btn search__btn">
          <span>Rechercher</span>
      </button>
    </form>
  </div>
