<div id="title-target"></div>

<!-- <h2 id="title-target">Bravo, en passant par Treep, vous avez déja remboursé 9% de votre dette écologique !</h2>
<div class="compensation__container">

	<div class="compensation__stats__container">
	  	<div class="compensation__first__part">
		  	<div class="compensation__montant">
			  	<p id="compensation__titre">Dette écologique:</p>
			  	<p>12,53 euros</p>
		    </div>
		  	<ul class="compensation__icons">
		  	  <li>€</li>
		  	  <li id="active__measure">%</li>
		  	  <li>T</li>
		    </ul>
	  	</div>

	  	<div class="compensation__second__part" id="sliderCompensation">Slider</div>

	  	<div class="compensation__third__part">
	  		<ul class="compensation__stats__list">
				<li>Pourcentage:</li>
				<li class='border-middle'>Euros:</li>
				<li>Nombres d'arbres:</li>
	  		</ul>
	  	</div>
	</div>

	<button class="checkout__button">PAYER MA DETTE ECOLOGIQUE</button>
</div> -->