<div id="section-all">
  <div id="section1">

    <div class="background-section1">

    </div>

    <div class="slogan">
      <h1>Plantez des arbres <br> en réservant <br> vos billets d'avions<br></h1>
    </div>

    <%= render 'shared/searchbar' %>

    <div class="compteur-arbres">
      <h2>10,762</h2>
      <h5>D'arbres plantés par les utilisateurs de SKYTREE'P</h5>
      <img src="https://res.cloudinary.com/tark-industries/image/upload/v1548505333/arrow_treep.png">
    </div>

    <div class="foret-fin-section1">
      <img src="https://res.cloudinary.com/tark-industries/image/upload/v1548672018/forest_back.png">
    </div>
  </div>



  <div id="section2">
    <div class= "home__frame">
      <div class="logo-ccm">
        <img src="https://res.cloudinary.com/tark-industries/image/upload/v1553080753/LOGO_SKYTREEP.png">
      </div>

      <div class="ccm">
        <h5>Comment ça marche ?</h5>
      </div>

      <div class="section-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1HzxlcrLHQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

      <div class="container__solution">

        <div class="ticket">
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1548511349/ticket.png">
        </div>

        <div class="solution">
          <h4>Notre solution: la dette écologique</h4>
          <h5 style="text-align:justify;">Pour chaque trajet, Skytree'p calcule le nombre de km, le modèle de l’avion et sa consommation puis en déduit le rejet de Co2 par passager.</h5>
          <h5 class="def-dette">La dette écologique c’est le prix du nombre d’arbres nécessaire pour compenser les rejets de Co2 d’un voyage.</h5>
        </div>

      </div>

      <div class="container__explications">

        <div class="explication__1">
          <div style="text-align:center;margin-bottom: 17px;margin-top: -20px">
            <img class="number" src="https://res.cloudinary.com/tark-industries/image/upload/v1548514473/treep_expl1.png">
          </div>
          <h4>Skytree'p paye une partie de votre dette écologique.</h4>
          <h5>Lorsque vous passez par Skytree'p, vous avez déja fait un pas.</h5>
          <h5>En effet une partie de votre dette est financée par les commissions que Skytree'p perçoit lorsque vous réservez votre billet.
          Environ 6% de votre dette est automatiquement prise en charge par Skytree'p.</h5>
          <div class="boutons__explication" style="margin-top: 10px;">
            <a class="section2-button white-tooltip" href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h6>Nous plantons des arbres avec 80% de nos bénefices !</h6>
            <p>Lorsque vous selectionnez un billet, vous êtes redirigé chez l’un de nos partenaires. Pour ce service, Treep gagne environ 2,2% du prix de votre billet. Avec 80% des bénefices que chaque utilisateur nous rapporte, nous commençons le paiement de sa dette écologique. Donc en passant par Treep vous avez déjà commencé a rembourser la planète ! <br>
            Les 20% restant nous permettent de stocker de l'argent pour de futur projets, améliorations du site.</p>">
              Transparence financière
            </a>
            <a class="section2-button white-tooltip" href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h6>Treep gagne de l'argent grâce a vous !</h6>
            <p>En effet à chaque fois que nous vous redirigeons vers une compagnie aérienne ou une agence de voyage, celle-ci nous rémunère en retour. C'est entre 1 et 3% du prix de votre billet. Mais vous le savez déjà, nos bénéfices permettent de financer une partie de votre dette écologique.
            D'autre part nous gagnons aussi de l'argent grâce aux publicitées. <br>
            Cliquez sur le boutton pour pouvoir acceder à nos rapports financiers.</p>">
              Les revenues de Skytree'p
            </a>
          </div>
        </div>

        <div class="explication__2">
          <div>
            <div style="text-align:center;margin-bottom: 17px;margin-top: -20px">
              <img class="number" src="https://res.cloudinary.com/tark-industries/image/upload/v1548514472/treep_expl2.png">
            </div>
            <h4>Vous avez le choix !<br>Votre dette est entre vos seules mains.</h4>
          </div>
          <h5>Dès lors que Skytree'p à rempli sa mission, le reste est entre vos mains, vous pouvez remboursez partiellement ou entièrement votre dette écologique!</h5>
          <div class="boutons__explication">
            <a class="section2-button white-tooltip" href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
            <h6>Des meilleurs calculs a venir!</h6>
            <p>Ce site n'est encore qu'un MVP (prototype), la dette n'est pas encore calculée en prenant en compte le modèle de l'avion. Découvrez notre méthode de calcul du C02 émis lors des vols en cliquant sur ce lien.</p>">
              Comment est calculée la dette ?
            </a>
            <a class="section2-button white-tooltip" href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
              <h6>Dans votre Dashboard. <br>
                Ou consultez l'onglet qui s'affiche lors de votre achat.</h6>
              <p>Vous pouvez consulter tout vos voyages sur votre compte. D'autre part dès que vous sélectionnez un billet un onglet s'ouvre, vous indiquant comment compenser les émissions à venir du voyage que vous avez choisi. Et voilà! <br>
              Ps: Ne vous culpabilisez pas si c'est trop chère !</p>">
              Comment payer la dette ?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section3">

    <div class="network">
      <a href="https://www.facebook.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766802/facebook-treep.png"></a> <br>
      <a href="https://www.instagram.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766811/insta-treep.png"></a> <br>
      <a href="https://twitter.com/"><img src="https://res.cloudinary.com/tark-industries/image/upload/v1548766819/tweeter-treep.png"></a> <br>
    </div>

    <div class="container-footer1">
      <div class="row">
        <div class="col-sm-3">
          <a href="#">Qui sommes nous ?</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Nos arbres</a>
        </div>
        <div class="col-sm-3">
          <a href="#">La dette écologique</a>
        </div>
        <div class="col-sm-3">
          <a href="#">Presse</a>
        </div>
      </div>
      <div style="padding-top: 20px" class="row">
        <div class="col-sm">
          <a href="#">Comment fonctionne Skytree'p ?</a>
        </div>
        <div class="col-sm">
          <a href="#">Politique de confidentialité de cookies</a>
        </div>
        <div class="col-sm">
          <a href="#">Condition d'utilisation</a>
        </div>
      </div>
    </div>

    <div class="container-footer2">
      <div class="row">
        <div class="col-sm">
          <h5>Sites Internationaux</h5>
        </div>
      </div>
      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png">
          <a href="#">Espana - Vuelos</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/255px-Flag_of_the_People%27s_Republic_of_China.svg.png">
          <a href="#">中国 - 机票</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/2000px-Flag_of_Norway.svg.png">
          <a href="#">Billige Flybilletter</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
          <a href="#">UK - Flights</a>
        </div>
      </div>

      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png">
          <a href="#">Ireland - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png">
          <a href="#">Sverige - Flyg</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png">
          <a href="#">USA - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_Poland.svg/1280px-Flag_of_Poland.svg.png">
          <a href="#">Polska - Tanie loty</a>
        </div>
      </div>

      <div style="padding-bottom: 6px" class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png">
          <a href="#">France - Vols</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg">
          <a href="#">Italia - Voli</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1280px-Flag_of_Japan.svg.png">
          <a href="#">日本 - 航空券</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1280px-Flag_of_Germany.svg.png">
          <a href="#">Deutschland - Flüge</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_United_Arab_Emirates.svg">
          <a href="#">United Arab Emirates - Flights</a>
        </div>
        <div class="col-sm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1200px-Flag_of_Australia_%28converted%29.svg.png">
          <a href="#">Australia - Cheap flights</a>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
      </div>
    </div>

    <div class="container-footer3">
      <div style="margin-left: -7%;" class="row">
        <div class="col-sm">
          <p>Confidentialité</p>
        </div>
        <div class="col-sm">
          <p>Conditions générales</p>
        </div>
        <div class="col-sm">
          <p>©Skytree'p 2019</p>
        </div>
      </div>
    </div>

    <div class="text-footer">
    <p>Trouvez votre voyage sur Skytreep.com, Comparez parmis des centaines de fournisseurs pour avoir les meilleurs prix et ce chaque jour. Trouvez des vols pas cher et écologique. Tous les billets internationaux sont disponibles, recherchez parmis les compagnies aériennes les plus prisées et les plus populaires. Skytree'p c’est la garantie de trouver le billet d’avion qu'il vous faut. N’attendez plus pour découvrir toute nos destinations. </p>
    </div>

  </div>
</div>

<div class="no-phone">
  <img style="width: 100vw" src="https://res.cloudinary.com/tark-industries/image/upload/v1548780556/treep-width-pic.png">
</div>

<div class="no-tablet">
  <img style="width: 100vw" src="https://res.cloudinary.com/tark-industries/image/upload/v1548783809/treep-width-pic2.png">
</div>


  <datalist id="airports__depart"></datalist>
  <datalist id="airports__return"></datalist>

  <ul class="flights__list"></ul>
