<div id="home"></div>
<div id="section-all">
  <div id="section1">

    <div class="background-section1"></div>

    <div class="slogan">
      <h1>Plantez des arbres <br> en réservant <br> vos billets d'avions<br></h1>
    </div>
    
    <div class="search__bar__container" id="search__bar__home__background">
        <%= render 'shared/searchbar' %>
    </div>

    <div class="compteur-arbres">
      <h2>000</h2>
      <h5>Arbres plantés par les utilisateurs de SKYTREE'P</h5>
      <img src="https://res.cloudinary.com/tark-industries/image/upload/v1548505333/arrow_treep.png">
    </div>

    <div class="foret-fin-section1">
      <img src="https://res.cloudinary.com/tark-industries/image/upload/v1556560112/forest-back.png">
    </div>
  </div>

  <div class="home-example-main-container">
    <%= render 'shared/home-background' %>
    <div class="home-example-title-container">
      <img style="height: 100px;" src="https://res.cloudinary.com/tark-industries/image/upload/v1556618787/LOGO_SKYTREE_P_noir.png">
      <h4>Comment ça marche ?</h3>
    </div>
    <div class="home-example-etape-container">
      <div class="home-example-etape-title">
        <p class="etape-number">1</p>
        <p class="etape-text">Pour chaque billet et par passager, nous calculons <strong>le montant de Co2</strong> rejeté dans l'atmosphère.</p>
      </div>
      
      <div class="home-example-section-container double-div">
        <p class="slider-title-text">CO2 :</p>
        <div class="slider-main-infos">
          <div style="display:flex;margin-top:10px;">
            <select id="home-example-selection-depart">
              <option value="paris">Paris</option>
              <option value="berlin">Berlin</option>
              <option value="stockholm">Stockholm</option>
              <option value="madrid">Madrid</option>
              <option value="turin">Turin</option>
              <option value="varsovie">Varsovie</option>
            </select>
            <img class="home-example-plane-icon" src="https://res.cloudinary.com/tark-industries/image/upload/v1560346067/plane_go_up.png">
            <%= render 'shared/fly-way' %>
            <img class="home-example-plane-icon" src="https://res.cloudinary.com/tark-industries/image/upload/v1560346060/plane_landing.png">
            <select id="home-example-selection-arrivee">
              <option value="berlin">Berlin</option>
              <option value="paris">Paris</option>
              <option value="stockholm">Stockholm</option>
              <option value="madrid">Madrid</option>
              <option value="turin">Turin</option>
              <option value="varsovie">Varsovie</option>
            </select>
          </div>
          <div id="home-slider-target-co2" style="width:650px;margin-top:35px;height:12px;margin-bottom:20px;"></div>
        </div>
        <p class="checkout__button" style="margin-left: 50px;">En savoir plus</p>
      </div>
    </div>

    <div class="home-example-etape-container">
      <div class="home-example-etape-title">
        <p class="etape-number">2</p>
        <p class="etape-text">Ensuite, nous calculons <strong>le nombre d'arbres à planter</strong> pour compenser le co2 émis par votre trajet.</p>
      </div>
      
      <div class="home-example-section-container double-div">
        <p class="slider-title-text">Arbres :</p>
        <div class="slider-main-infos">
          <div style="display:flex;margin-top:10px;">
            <select>
              <option id="home-example-display-depart">Paris</option>
            </select>
            <img class="home-example-plane-icon" src="https://res.cloudinary.com/tark-industries/image/upload/v1560346067/plane_go_up.png">
            <%= render 'shared/fly-way' %>
            <img class="home-example-plane-icon" src="https://res.cloudinary.com/tark-industries/image/upload/v1560346060/plane_landing.png">
            <select>
              <option id="home-example-display-arrivee">Berlin</option>
            </select>
          </div>
          <div id="home-slider-target-arbres" style="width:650px;margin-top:35px;height:12px;margin-bottom:20px;"></div>
        </div>
        <p class="checkout__button" style="margin-left: 50px;">En savoir plus</p>
      </div>
    </div>
    <div class="home-example-etape-container">
      <div class="home-example-etape-title">
        <p class="etape-number">3</p>
        <p class="etape-text">Rien qu’en passant par SKYTREE’P, et c’est gratuit, vous avez déjà compensé 20% de votre trajet en moyenne!</p>
      </div>
      
      <div class="home-example-section-container" style="margin-top: 45px;">
        <p style="width:130px; margin-right:30px; text-align:right;">Compensation :</p>
        <div id="home-slider-target-compensation" style="width:650px;height:12px;"></div>
        <p class="checkout__button" style="margin-left: 50px;">En savoir plus</p>
      </div>
    </div>
    <div class="home-example-etape-container">
      <div class="home-example-etape-title last-etape">
        <p class="etape-number">4</p>
        <p class="etape-text last-etape-text">Dernière étape,<br>vous pouvez faire un don à l'une de nos associations partenaires afin de compenser le reste des émissions de co2 de votre trajet.</p>
      </div>
    </div>
    <div style="display: flex;justify-content: center;background-image: url(https://res.cloudinary.com/skytreep/image/upload/v1552589614/Free-Forest-Background-Vector-1.jpg);height: 290px;flex-direction: column; align-items: center;background-repeat: no-repeat;background-size: cover;">      
        <a href="#" class="checkout__button go-button-home">C'est parti !</a>
        <a href="#" class="checkout__button go-button-home" style="background-color: #36ACB8;">F.A.Q</a>    
    </div>
  </div>

  <div class="le-vrai-pouvoir-all-container">
    <h3>Le véritable pouvoir des arbres</h3>
    <div class="le-vrai-pouvoir-div-container">
      <div class="le-vrai-pouvoir-div">
        <img src="https://res.cloudinary.com/tark-industries/image/upload/v1561627528/lake_mount.jpg">
        <h4>Biodiversité</h4>
        <p>Les arbres jouent un rôle majeur dans la sauvegarde de la biodiversité.
          Les forêts représentent le principal réservoir de la diversité biologique végétale et animale à l'échelle de la planète. À elles seules, les forêts renferment environ 50% des espèces vivantes.</p>
      </div>
      <div class="le-vrai-pouvoir-div">
        <img src="https://res.cloudinary.com/tark-industries/image/upload/v1561627528/lake_mount.jpg">
        <h4>Les sols</h4>
        <p>La plantation et la conservation des arbres sont d'excellents moyens de lutte contre l'érosion du sol notamment due aux travaux de construction. Les racines des arbres maintiennent le sol en place dans les terrains en pente. Les arbres permettent de stabiliser et de régulariser l'hydrologie du sol et le niveau de la nappe phréatique.</p>
      </div>
      <div class="le-vrai-pouvoir-div">
        <img src="https://res.cloudinary.com/tark-industries/image/upload/v1561627528/lake_mount.jpg">
        <h4>L'eau</h4>
        <p>Ses racines permettent de filtrer l'eau et ainsi obtenir une meilleure qualité de l'eau. Sa présence réduit le volume des eaux de ruissellement, protège les sources d'eau et réduit les dommages causés par les inondations.</p>
      </div>
    </div>
  </div>
</div>




 
