<div id="section1">

  <div class="slogan">
    <h1>Le premier comparateur <br> pour une empreinte <br>écologique neutre</h1>
  </div>


  <%= render 'shared/searchbar' %>


  <!-- <div class="choix3">
    <ul>

      <li class="allez-retour">
        <li><p>Allez-retour</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

      <li class="passager">
        <li><p>1 Passager</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

      <li class="classe">
        <li><p>Economy</p></li>
        <li><i class="fas fa-arrow-down"></i></li>
      </li>

    </ul>
  </div>

  <div class="border-form">
    <i class="fas fa-plane-departure"></i>
    <i class="fas fa-plane-arrival"></i>
    <form class="search">
      <input  type="text" class="search__field" id="departLoc__search" placeholder="             Paris (PAR)" list="airports__depart">
      <input type="text" class="search__field" id="returnLoc__search" placeholder="             À ? " list="airports__return">
      <input type="text" class="search__field" id="departDate__search" placeholder="Date allez">
      <input type="text" class="search__field" id="returnDate__search" placeholder="Date retour">
      <button class="btn search__btn">
          <span>Rechercher</span>
      </button>
    </form>
  </div> -->

</div>


  <datalist id="airports__depart"></datalist>
  <datalist id="airports__return"></datalist>

  <ul class="flights__list"></ul>

  <!-- <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div> -->
    <!-- </div>
  </div> -->
