/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: #1c4444;
  border: none;
}
.alert-warning {
  background: $red;
}

.alert-dismissible .close {
	top: -10px;
	color: white;
}
