.compensation__container {
	display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.compensation__stats__container {
    background-color: #FBFAEB;
    width: 80%;
    height: 50vh;
	border-radius: 3px;
	margin: 30px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.compensation__first__part {
	display: flex;
    justify-content: space-between;
    height: 33%;
}

.compensation__second__part {
	display: flex;
    justify-content: center;
    height: 34%;
    align-items: center;
    width: 100%;
}

.compensation__third__part {
	display: flex;
    justify-content: flex-end;
    height: 33%;
    align-items: flex-end;
}

.border-middle {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.compensation__stats__list {
	padding: 0px;
	display: flex;
	flex-direction: column;
	width: 22%;
	border-radius: 3px;
	background-color: #C3F5E8;

    li {
	  padding: 3px;
    }
}

.compensation__icons {
    
    display: flex;

	li {
	  font-size: 25px;
      font-weight: 600;
	  background-color: #A3E6ED;
	  border-radius: 3px;
	  padding: 25px;
	  height: 50px;
	  display: flex;
	  align-items: center;
	}

    li:hover {
      background-color: #36ACB8;
    }
}

#active__measure {
	background-color: #36ACB8;
	border-left: solid 1px;
	border-right: solid 1px;
}


.compensation__montant {
	color: white;
    height: 60px;
    width: 20%;
    background-color: #36ACB8;
    border-radius: 3px;

    p {
      text-align: center;
      font-size: 23px;
      line-height: 23px;
      font-weight: 500;
    }
}

#compensation__titre {
    margin-bottom: 3px;
	font-size: 17px;
	font-weight: 100;
}

.background__container {
  background-image: url('https://res.cloudinary.com/skytreep/image/upload/v1552589614/Free-Forest-Background-Vector-1.jpg');
  background-color: rgba(255,0,0,0.4);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


.position__upper {
    position: absolute;
    right: -17px;
    bottom: 29px;
    font-size: 16px;
}

.position__lower {
    position: absolute;
    left: -17px;
    bottom: 29px;
    font-size: 16px;
}

.position__square {
    width: 9px;
    height: 30px;
    border-radius: 3px;
    margin-right: 9px;
    background-color: #36ACB8;
    position: absolute;
    top: -7px;
    left: -3px;
}


.participation__treep {
    position: absolute;
    border: 3px solid;
    width: 32%;
    height: 20px;
    top: 35px;
    left: 5px;
    border-bottom: none;

    p {
      text-align: center;
    }
}

.participation__user {
    position: absolute;
    border: 3px solid;
    width: 60%;
    height: 20px;
    top: 35px;
    right: 4px;
    border-bottom: none;

    p {
      text-align: center;
    }
}

.end__square {
    width: 9px;
    height: 30px;
    background-color: #00C896;
    border-radius: 3px;
    position: absolute;
    top: -7px;
    right: -6px;
}

#compensation-button {
    
}








