#search__bar__frame__home {
  justify-content: space-around;
}

.home__search__field {
	height: 70%;
}

.home__search__button {
	height: 70%;
}

.home__search__box {
	height: 100%;
	align-items: center;
}

#home__search__form {
	display: block;
}