.co2-tooltip-control {

	position: absolute;
    right: -220px;

	.tooltip-inner {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
		border-radius: 8px;
		max-width: none;
		width: 350px;
		text-align: justify;
	}

	.tooltip.in{
		opacity:1!important;
	}

	.tooltip.top .tooltip-arrow {
	  border-top-color: rgba(0, 0, 0, 0.20);
	}

	p {
		margin: 5px 0px;
	}
}


.arbres-tooltip-control {

	position: absolute;
    right: -220px;

	.tooltip-inner {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
		border-radius: 8px;
		max-width: none;
		width: 400px;
		text-align: justify;
	}

	.tooltip.in{
		opacity:1!important;
	}

	.tooltip.top .tooltip-arrow {
	  border-top-color: rgba(0, 0, 0, 0.20);
	}

	p {
		margin: 10px 0px;
	}
}

.home-compensation-tooltip-control {

	position: absolute;
    right: -220px;

	.tooltip-inner {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
		border-radius: 8px;
		max-width: none;
		width: 420px;
		text-align: justify;
	}

	.tooltip.in{
		opacity:1!important;
	}

	.tooltip.top .tooltip-arrow {
	  border-top-color: rgba(0, 0, 0, 0.20);
	}

	p {
		margin: 10px 0px;
	}
}

.final-tooltip-control {

	position: absolute;
  margin-right: -24vw;
  right: 0px;


	.tooltip-inner {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
		border-radius: 8px;
		max-width: none;
		width: 350px;
		text-align: justify;
	}

	.tooltip.in{
		opacity:1!important;
	}

	.tooltip.top .tooltip-arrow {
	  border-top-color: rgba(0, 0, 0, 0.20);
	}

	p {
		margin: 10px 0px;
	}
}

.home-tooltip-middle-text {
	p {
		margin: 15px 8px;
		background: #00C896;
		border-radius: 3px;
		color: white;
		text-align: center;
		padding: 10px 5px;
		font-size: 16px;
	}
}
