body {
  margin: 0px;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul li, ul li li {
  display: inline-block;
}

ul .li-before {
  padding-right: 1.6vw;
  padding-left: 1.6vw;
}

li a {
  padding-left: 5px;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.apropos-drop a {
  color: black !important;
}

.liste-navbar i {
  color: rgb(27, 105, 166);
}

.liste-navbar {
  display: flex;
  align-items: center;
  position: relative;
}

.logo-nav1 {
  height: 0px;
}

.logo-nav1 img {
  width: 200px;
  margin-right: 8vw;
  margin-top: -75px;
  margin-left: 5vw;
}

.fr-flag {
  width: 20px;
}

/*------------- menu drop down------------ */

.navba-propos {
  background-color: transparent !important;
  border: none;
  font-size: 14px;
}



  /*  * * * * * * * * * * *
      *  MEDIA   QUERIES  *
      * * * * * * * * * * *   */



@media only screen and (max-width: 1132px) {
  ul .li-before {
  padding-right: 0.7vw;
  padding-left: 0.7vw;
  }
}

.beta-icon {
  font-size: 22px;
  font-family: Alegreya Sans SC;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  background: linear-gradient(241.27deg, #D2D300 2.73%, #F3F400 100%);
  border-radius: 2px;
  height: 40px;
  width: 90px;
  line-height: 40px;
  text-align: center;
  bottom: -29px;
  right: 83px;
  z-index: 10;
}

.logo-navbar-component {

  img {
    width: 200px;
    margin-top: 2px;
    margin-left: 100px;
  }
}

.navbar-component-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 83%;
}


.navbar-component-main-container {
  background: linear-gradient(80.21deg, #00C896 0%, #03AA80 10.23%, #01AD82 22.85%, #00C896 54.58%, #00C896 85.89%, #02B88A 100%), #C4C4C4;
}



























