body {
  margin: 0px;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul li, ul li li {
  display: inline-block;
}

ul .li-before {
  padding-right: 1.8vw;
  padding-left: 1.8vw;
  padding-top: 35px;
}

li a {
  padding-left: 5px;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.liste-navbar i {
  color: rgb(27, 105, 166);
}

.liste-navbar {
  padding-left: 10vw;
  padding-right: 3vw;
  background-color: rgb(0, 200, 150);
  height: 60px;
}

.liste-navbar .logo img {
  width: 130px;
}

.fr-flag {
  width: 20px;
}




































