<div class="arbres-tooltip-control">
	<p class="checkout__button white-tooltip" id="arbres-tooltip" data-toggle="tooltip" data-html="true"  data-placement="top" title='
		<div>
			<div class="home-tooltip-middle-text"><p>1 arbre = 20kg de Co2 retiré de l’atmosphère.</p></div>
			<p>20kg représente ce qu’un arbre nouvellement planté retire de l’atmosphère en 12 mois.</p>
			<p>Ensuite l’arbre continuera sa vie et continuera de stocker du Co2 mais tout ce Co2 retiré en plus de l’atmosphère n’est pas comptabilisé par Skytree’p.</p>
		</div>
	'>En savoir plus</p>
</div>
