<div class="co2-tooltip-control">
	<p class="checkout__button white-tooltip" id="co2-tooltip" style="margin-right: 4vw;" data-toggle="tooltip" data-html="true"  data-placement="top" title='
		<div>
			<p>Nous calculons d’abord la distance parcourue. Puis nous estimons qu’en moyenne, un avion rejette 250g de Co2 par Km. </p>
			<div class="home-tooltip-middle-text"><p>Montant Co2 = 250g x km parcouru.</p></div>
			<p>Nous allons par la suite implémenter de nouvelles variables comme le taux de remplissage ou le modèle de l’avion.</p>
		</div>
	'>En savoir plus</p>
</div>
