<div class="home-compensation-tooltip-control">
	<p class="checkout__button white-tooltip" id="compensation-tooltip" data-toggle="tooltip" data-html="true"  data-placement="top" title='

		<div>
			<p>Nous sommes rémunéré en commission sur les billets d’avions. Nous touchons environ 1,5% du prix du billet. Nous utilisons 80% de notre bénéfice pour contribuer à la compensation de votre trajet.
			</p>
			<div class="home-tooltip-middle-text"><p>Nous plantons des arbres pour 13ct en moyenne.</p></div>
		</div>
	'>En savoir plus</p>
</div>
